.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    border-radius: 8px;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}



/* Контейнер для имени и номера */
.container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Контейнер для текста и иконки */
.text {
    font-size: 16px;
    display: flex;
    align-items: center;
    /* Выровнять иконку по центру */
    gap: 8px;
}

/* Иконки выравниваются по центру */
.icon {
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

/* Кнопка Delete */
.button {
    padding: 6px 12px;
    background-color: #ff4d4d;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}